.App {
  background-color: #333;
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;

  margin: 0;
}

.container {
  display: flex;

  height: 100vh;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commandContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: linear-gradient(to right bottom, #222a, #aaa2);
  backdrop-filter: blur(4px); 

  box-shadow: #0008 4px 4px 12px;
}

.command {
  display: flex;
  
  flex-direction: row;

  background: transparent;

  width: 60vw;
  height: 8vh;
}

.command .commandType {
  display: flex;

  flex: 1 1 0.5;
  align-items: center;
  justify-content: center;

  background-color: #4442;
  color: #fffa;
  
  font-size: 2rem;
  font-family: monospace;
  text-align: center;

  padding: 1em;

  user-select: none;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.command .commandType:hover {
  background-color: #2222;
}

.command .commandInput {
  background-color: transparent;

  width: 0;

  outline: none;
  border: none;
}

.command .commandDisplay {
  display: flex;

  flex: 1 1;
  align-items: center;
  justify-content:  flex-start;

  background-color: transparent;
  color: #fffa;
  
  font-size: 2.5rem;
  font-family: monospace;
  letter-spacing: 0.1ch;
  white-space: pre;
  max-lines: 1;

  outline: none;
  border: none;
  padding: 0 0.5em;

  cursor: text;

  transition: all 0.2s ease-in-out;
}

.command .commandDisplay .caret {
  background-color: #fffa;

  width: 3px;
  height: 50%;

  animation: blink 2s ease-in-out alternate infinite;
}


.command .commandDisplay .inactiveCaret {
  background-color: #fffa;

  width: 3px;
  height: 50%;

  opacity: 0.2;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.command .commandDisplay .suggestions {
  color: #fff6;
}

.command .commandOutput {
  display: flex;

  flex: 1 0;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: #fffa;

  font-size: 2.5rem;
  font-family: monospace;

  max-lines: 1;

  cursor: text;

  transition: all 0.2s ease-in-out;
}

.command .commandOutput:hover {
  background-color: #4442;
}

.command .commandOutput:active {
  background-color: #2222;
}