.App {
  background-color: #333;

  margin: 0;
}

.container {
  display: flex;

  width: 100vw;
  height: 100vh;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commandContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-shadow: #0006 4px 4px 12px;
}

.command {
  display: flex;
  
  flex-direction: row;

  background-color: #2222;

  height: 8vh;
}

.command .commandType {
  display: flex;

  flex: 1 1 0.5;
  align-items: center;
  justify-content: center;

  background-color: #4442;
  color: #fffa;
  
  font-size: 2rem;
  font-family: monospace;
  text-align: center;

  padding: 1em;

  user-select: none;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.command .commandType:hover {
  background-color: #2222;
}

.command .commandInput {
  flex: 1 1 auto;

  background-color: transparent;
  color: #fffa;
  
  font-size: 2.5rem;
  font-family: monospace;
  text-align: left;
  letter-spacing: 0.2ch;

  outline: none;
  border: none;
  padding: 0 0.5em;
}

.command .commandInputSuggestion {
  display: flex;

  flex: 1 1 0.5;
  align-items: center;
  justify-content: flex-start;

  background-color: transparent;
  color: #fff6;
  
  font-size: 2.5rem;
  font-family: monospace;
  text-align: left;
  letter-spacing: 0.2ch;

  user-select: none;
}

.command .commandOutput {
  display: flex;

  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: #fffa;

  font-size: 2.5rem;
  font-family: monospace;

  max-lines: 1;

  cursor: text;

  transition: all 0.2s ease-in-out;
}

.command .commandOutput:hover {
  background-color: #4442;
}

.command .commandOutput:active {
  background-color: #2222;
}